<div class="footer bg-yellow">
  <div class="footer-links">
    <a href="https://www.facebook.com/EFJ.Officiel/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/EFJ_Officiel"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/school/efj/?originalSubdomain=fr"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This template is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
